@import '../variables';

#navbar {
    position: relative;
    height: 60px;
    z-index: 5;
    background-color: $dark-3;
    border-bottom: 1px solid $dark-4;
    box-shadow: 0 1px 5px $dark-4;

    ul {
        position: relative;
        display: inline-block;
        top: 24px;
        padding-left: 20px;
        padding-right: 20px;

        li {
            display: inline;
            border: 0;
            border-bottom: 2px solid $dark-3;
            padding-bottom: 10px;

            &:hover {
                border-color: $light-2;
            }

            a {
                color: $light-3;
                padding: 0 10px;

                &:hover {
                    color: $light-1;
                    text-decoration: none;
                }
            }
        }

        &:last-of-type{
            float: right;
        }
    }

    img {
        position: absolute;
        height: 75px;
        width: 140px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
