
// $font-stack: Arial, Helvetica, sans-serif;

// colours
$dark-1: #000000;
$dark-2: #151618;
$dark-3: #222629;
$dark-4: #31383d;
$dark-5: #24292c;

$light-1: #ffffff;
$light-2: #e6e6e6;
$light-3: #c7c7c7;
$light-4: #aaaaaa;

$blue-1: #3be2da;
$blue-2: #21b1aa;
$blue-3: #0f98ad;
$blue-4: #088699;
$blue-5: #129eb4;

$dangert: #dc3546f1;

$danger: #dc3546f1;
$success: #28A745;
