@import 'map/markers';
@import 'filter/relateddatacomp';
@import 'variables';
@import 'elements/buttons';
@import 'elements/messageBar';
@import 'elements/checkboxes';
@import 'map/leafletdraw';
@import 'elements/radioButtons';
@import 'elements/input';
@import 'header/header';
@import 'map/map';
@import 'map/popup';
@import 'attribution/attribution';
@import 'elements/labels';
@import 'detail/detail';
@import 'tables/table';
@import 'elements/cover';
@import 'elements/links';



body {
    font-size: 1em;
}

h3 {
    font-size: 1.2em;
}

.hideEle {
    display: none;
}

.showEle {
    display: block;
}

.showEleGrid {
    display: grid;
}

.inactive-pg {
    position: absolute;
    z-index: 9;
    background-color: #00000080;
    height: 100vh;
    width: 100%;
}


@import "~bootstrap/scss/bootstrap";