@import '../variables';

.leaflet-control-attribution {
    font-size: 0.8em !important;
    max-width: 400px;
    background-color: #ffffff70 !important;
}

#map-wrapper {
    height: calc(100vh - 60px);
    width: 100%;

    .showPanel {
        display: inline-block;
    }

    .hidePanel {
        display: none;
    }

    .fullMap {
        width: 100%;
    }

    .mapWithFilter {
        width: calc(100% - 400px);
    }

    #map-area {
        position: relative;
        height: 100%;
        min-height: 555px;
        float: right;

        #map-layers {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        .open-filter-toggle {
            height: 40px;
            width: 40px;
            background-color: $dark-5;
            position: absolute;
            z-index: 2;
            top: 100px;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            cursor: pointer;

            span {
                color: $light-4;
                font-size: 1.5em;
                font-weight: 100;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                &:hover {
                    color: $light-1;
                }
            }
        }
    }

    #panel {
        position: relative;
        background-color: $dark-5;
        padding: 5px 15px;
        height: 100%;
        min-height: 555px;
        width: 400px;
        float: left;
        cursor: pointer;
    
        hr {
            background-color: $light-4;
        }
    
        #panel-header {
            user-select: none;
            position: relative;
            height: 30px;
            display: grid;
            grid-template-columns: 25% 50% 25%;
                
            .panel-title {
                margin: 8px 0 0 0;
                color: $light-2;
                border-radius: 3px;
                height: 30px;
                padding: 3px 15px;
                margin-top: 6px;

                h1 {
                    font-size: 1em;
                    font-weight: 400;
                    position: absolute;
                    top: 11px;
                    left: 50%;
                    transform: translate(-50%,0);
                }
            }


            .filter-toggle {
                transform: scale(-1, 1);
                width: 60px;
                background-color: $dark-7;
                margin-top: 6px;
                border-radius: 3px;
                color: $light-4;
                padding: 0px 18px;
                font-weight: bold;
                font-size: 1.2em;
                position: relative;
                border: 1px solid $dark-7;

                span {
                    position: absolute;
                    top: 2px;
                }

                &:hover {
                    color: $light-2;
                    border: 1px solid $dark-6;
                }
            }

            .header-icons {
                position: absolute;
                right: 0;

                div {
                    position: relative;
                    display: inline-block;

                    span {
                        color: $light-3;
                        font-size: 1.3em;
                        margin-left: 12px;
                        margin-top: 6px;
                        background-color: $dark-7;
                        padding: 3px;
                        border: 1px solid $dark-7;
                        border-radius: 3px;
                        
                        &:hover {
                            color: $light-2;
                            border: 1px solid $dark-6;
                        }
                    }
    
                    div {
                        position: absolute;
                        width: 150px;
                        top: 36px;
                        left: 5px;
                        z-index: 10;

                        div:first-of-type {
                            height: 0;
                            width: 0;
                            margin-left: 5px;
                            border: 10px solid $light-2;
                            border-top: none;
                            border-left-color: transparent;
                            border-right-color: transparent;
                            top: 0;
                        }

                        div:last-of-type {
                            top: 10px;
                            width: auto;
                            background-color: $light-2;
                            border-radius: 3px;
                            padding: 5px 10px;
                            font-size: 0.8em;
                        }
                    }
                }
            }
        
        }
    
        #filterArea {
            position: relative;
            height: calc(100% - 155px);
            width: 100%;
        
            #filter-groups {
                position: relative;
                height: calc(100% - 40px);
                max-height: 350px;
                width: 100%;
                overflow-y: auto;
            }
        }
    
        #ctrlBar {
            margin: 10px 0 15px 0;
            width: 100%;
            position: relative;
    
            div {
                margin: 10px 0;

                label {
                    background-color: $dark-3;
                }
            }
    
        }
    
        .filterGroupArea {
            position: relative;
            float: left;
            width: 95%;
            height: calc(100% - 80px);
        
            .filterSubGroupArea {
                position: relative;
                width: 100%;
                margin-top: -5px;
                padding: 0 3px 0 10px;
                max-height: 270px;
                overflow-y: auto;

                .checkboxFilter {
                    margin: 5px 0;
                    width: 60%;
                }
            }   
        }
        
    
        #panel-footer {
            user-select: none;
            position: relative;
            margin-top: 10px;
            height: 80px;
            width: 100%;
    
            #filterSubmitBtn {
                float: right;
            }
    
            button {
                float: left;
                margin: 5px 20px 0 0;
                height: 30px;
                width: 120px;
                font-size: 0.9em;
            }
        }
    
    }
}



.leaflet-container {
    height: 100%;
    width: 100%;
}


.filterSubArea {
    margin-left: 10px;
}


#draw-sub-area {

    button {
        width: 155px;
        margin: 10px 10px 0 0;
        padding: 3px 10px;
        font-size: 0.8em;

        &:last-of-type {
            margin-right: 0;
        }
    }

    h3 {
        user-select: none;
        color: $light-2;
        font-size: 0.9em;
        margin: 10px 0 5px 0;
    }

}


// group & sub group buttons in the filter
.filter-grp-btn-pri,
.filter-grp-btn-sec {
    user-select: none;
    height: 32px;
    width: calc(100% - 2px);

    label {
        font-size: 0.95em;
        margin-left: 20px;
    }

    span {
        font-size: 1em;
        font-weight: 600;
        float: right;
        margin-right: 10px;
    }

}

.filter-grp-btn-sec {
    height: 28px;

    label {
        font-size: 0.85em;
        margin-left: 30px;
        position: absolute;
    }

    span {
        font-size: 0.9em;
    }
}
