@import '../variables';

// .error-c1 {
//     border: 1px solid $dangert;

//     div:first-of-type span{
//         color: $dangert;
//     }
// }

// .error-c2 {
//     background-color: $danger-4;
//     font-size: 0.8em;
//     float: left;
//     margin-top: 6px;
//     padding: 4px 10px;
//     border-radius: 15px;
// }

// .success-c1 {
//     border: 1px solid $dangert;

//     div:first-of-type span{
//         color: $success;
//     }
// }


.message-bar-c1,
.warning-edit,
.success-edit,
.warning-map,
.success-map,
.error-map,
.error-edit,
.error-fixed-edit {
    position: absolute;
    display: grid;
    background-color: $dark-5;
    border-radius: 20px;
    z-index: 10;
    width: 400px;
    height: 40px;
    box-shadow: 0 1px 3px $dark-3;
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%,0);
    grid-template-columns: 40px 340px 20px;
    cursor: default;
    user-select: none;

    div {
        position: relative;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        &:last-of-type {
            top: 9px;
            right: 12px;

            span {
                top: 3px;
            }
        }

        label {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 0 5px;
            text-align: center;
            font-size: 0.9em;
            color: $light-2;
            font-weight: 300;
            line-height: 1em;
        }
    }
}

.error-fixed-edit {
    position: fixed;
    margin-top: 0;
}


.warning-edit,
.success-edit,
.error-edit {
    top: 105px;
}

.warning-map,
.success-map,
.error-map {
    top: 70px;
}


.warning-edit,
.warning-map {
    border: 1px solid $warning;

    div:first-of-type span{
        color: $warning;
    }
}

.success-edit,
.success-map {
    border: 1px solid $success;

    div:first-of-type span{
        color: $success;
    }
}

.error-edit,
.error-map,
.error-fixed-edit {
    border: 1px solid $dangert;

    div:first-of-type span{
        color: $dangert;
    }
}
