@import '../variables';

.error-c1 {
    border: 1px solid $dangert;

    div:first-of-type span{
        color: $dangert;
    }
}

.error-c2 {
    background-color: $danger-4;
    font-size: 0.8em;
    float: left;
    margin-top: 6px;
    padding: 4px 10px;
    border-radius: 15px;
}

.success-c1 {
    border: 1px solid $dangert;

    div:first-of-type span{
        color: $success;
    }
}


#messageBar {
    position: absolute;
    background-color: $dark-5;
    z-index: 10;
    width: 400px;
    height: 40px;
    box-shadow: 0 1px 3px $dark-3;
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%,0);
    grid-template-columns: 40px 340px 20px;
    cursor: default;

    div {
        position: relative;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        &:first-of-type span {
            font-size: 40px;
        }

        &:last-of-type {
            font-size: 20px;
            margin-top: -5px;
            color: $light-4;
            margin-right: 5px;

            span:hover {
                color: $light-2;
            }
        }

        label {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 0 5px;
            text-align: center;
            font-size: 0.8em;
            color: $light-2;
            font-weight: 300;
            line-height: 1em;
        }
    }
}



